@import "tailwindcss";

@font-face {
  font-family: "Caveat";
  src: url("/fonts/caveat-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Caveat";
  src: url("/fonts/caveat-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Caveat";
  src: url("/fonts/caveat-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Caveat";
  src: url("/fonts/caveat-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-300.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-800.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-900.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-300.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-500.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-600.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-800.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-900.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}

/* Light theme (default) */
:root {
  --primary-color: #08bce0;
  --secondary-color: #ff5158;
  --body-color: #f8f9fa;
  --dark-color: #212529;
  --bg-color-dark: #172041;
  --bg-color-light: #d9d6de;
  --bg-button-1: 45deg, #08bce0 0%, #ff5158 100%;
  --animate-fadein: fadeIn 3s ease-out;
  --shadow-primary: rgba(8, 188, 224, 0.4) 0px 0px 40px 20px;
  --shadow-secondary: rgba(255, 81, 88, 0.4) 0px 0px 40px 20px;
}

html {
  font-family: "Poppins", sans-serif;
  /*background-color: var(--bg-color-light);*/
  background-color: #000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #08bce0;
    --secondary-color: #ff5158;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --bg-color-dark: #172041;
    --bg-color-light: #d9d6de;
  }

  html {
    color: var(--light-color);
    /*background-color: var(--bg-color-dark);*/
    background-color: #000;
  }
}
